body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

hr {
    width: 430px;
    border: none;
    border-top: 2px solid #051844;
    margin-top: 37px;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 23px;
    border: 1.2px solid #051844;
}

button {
    padding: 10px 20px;
    background-color: #051844;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    width: 325px
}

img {
    width: 250px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 50%;
}

a {
    margin-top: 20px;
    color: #051844;
    font-size: 20px;
}

.login-fail-message {
    color: rgb(218, 13, 13);
    display: none;
    margin: 0 0 10px 0;
}

.login-fail {
    border-color: rgb(218, 13, 13);
}