body {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color:white;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* justify-content: center; */
            height: 100vh;
            margin: 100px;
        }

        h1 {
            font-weight: 400;
            font-size: 50px;
        }
        input{
            padding: 10px;
            margin: 10px 0;
            border: none;
            border-radius: 5px;
            width: 300px;
            height: 23px;
            border: 1.2px solid #051844;
        }

        button {
            padding: 10px 20px;
            background-color: #051844;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 15px;
            width:320px
        }
        img {
            width: 250px;
            height: auto;
            margin-bottom: 40px;
            border-radius: 50%;
        }