
select {
    width: 322px;
    height: 43px;
    margin-bottom: 10px;
    border: 1.2px solid #051844;
    border-radius: 5px;
    font-size: 17px;
    background-color: #d5e0fa;
    padding: 10px;
}
input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 23px;
    border: 1.2px solid #051844;
    font-size: 17px;
}

button{
margin-top: 17px;
font-size: 20px;
width: 322px;
}
