
/* -------- Inputs -------- */
input {
    border-radius: 5px;
    width: 300px;
    border: 1.2px solid #051844;
    font-size: 14px;
    margin-bottom: 15px;
    box-sizing: border-box;
    height: 42px;
    padding: 0 12px;
}


/* -------- Divider -------- */
hr {
    width: 430px;
    border: none;
    border-top: 2px solid #051844;
    margin-top: 40px;
}
